.class1 {
  //height: 100vh;
  display: grid;
  grid-template-rows:  100vh;
  grid-template-columns: 1fr 3fr;

  background-color: #ff0000;

  .class2 {
    background-color: #ffd500;
  }

  .class3top {
    display: flex;
    flex-direction: column;


    .class3 {
//height:100%;
      background-color: #9cff00;
      overflow: auto;

      .class31 {
        height: 400px;
        background-color: #00ffcb;
      }

      .class32 {
        height: 400px;

        background-color: #001eff;
      }

      .class33 {
        height: 400px;
        background-color: #ff00d5;
      }
    }
  }

  .class4 {
    background-color: #ffd500;
  }
}
